@use "../../../mixins" as *;
@use "../../../presets" as *;

.team-item {
  @include flex-col;
  align-items: flex-start;

  @include md {
    align-items: center;
  }

  &__description {
    line-height: 30px;
    min-height: 50%;

    @include lg-min {
      font-size: 1.25em;
      padding-top: 32px;
    }

    @include md-min {
      padding-top: 25px;
      font-size: 1.1em;
    }

    @include md {
      padding-top: 15px;
      font-size: 1em;
    }
  }

  &__title {
    font-size: 1.8em;
    line-height: 40px;
    padding-top: 50px;
    order: 0;
  }

  &__link {
    font-size: 1.25em;
    line-height: 30px;
    text-decoration-line: underline;
  }

  &__action {
    padding-top: 26px;
  }
}

.team-item__pic {
  min-height: 200px;
  order: -1;
}

.team-item__img {
  display: block;
  object-fit: cover;
}