@use "../../mixins" as *;
@use "../../presets" as *;

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 53px 0 44px;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-logo {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;

  &__note {
    font-size: 0.75em;
    line-height: 15px;
    max-width: 300px;
  }
}

.footer-copyright {

  @include md-min {
    padding-right: 85px;
  }

  &__year,
  &__rights {
    font-size: 0.75em;
    line-height: 15px;
  }
}