@use "../../mixins" as *;
@use "../../presets" as *;

.footer-menu {
  display: grid;
  gap: 21px;

  @include lg-min {
    grid-template-columns: repeat(4, minmax(100px, 200px));
  }

  @include lg {
    grid-template-columns: repeat(2, minmax(100px, 200px));
    gap: 50px;
  }

  @include md {
    text-align: center;
  }
}

.footer-block {
  padding-top: 4px;

  &__title {
    font-size: 1.25em;
    line-height: 25px;
    background: none;
    border: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 19px;
  }

  &__link {
    font-size: 0.93em;
    line-height: 15px;
  }
}