@use "../../mixins" as *;
@use "../../presets" as *;

.footer {
  background-color: $neutral-color;
}

.footer-flex {
  display: flex;
  min-height: 590px;
  border-bottom: 1px solid black;
  padding: 90px 0 96px;


  @include xl-md {
    justify-content: space-between;
  }

  @include md {
    flex-wrap: wrap;
    justify-content: center;
  }
}