@use "../../mixins" as *;
@use "../../presets" as *;

.footer {
  background-color: $neutral-color;
}

.footer-flex {
  display: flex;
  min-height: 590px;
  border-bottom: 1px solid black;

  @include xl-md {
    justify-content: space-between;
    padding: 90px 0 96px;
  }

  @include md {
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0 40px;
  }
}