@use "../../../mixins" as *;
@use "../../../presets" as *;


.hero-content {
  @include flex;
  flex-direction: column;
  align-items: flex-start;


  @include lg {
    order: 0;
    text-align: center;
    align-items: center;
  }

  &__title {
    font-style: normal;
    font-weight: 600;

    margin: 0;

    @include md-min {
      font-size: 4em;
      line-height: 70px;
    }

    @include md {
      font-size: 2.5em;
      line-height: 50px;
    }
  }

  &__text {
    max-width: 420px;


    @include md-min {
      font-size: 1.5em;
      line-height: 35px;
      padding-top: 42px;
    }

    @include md {
      font-size: 1.2em;
      line-height: 25px;
      padding-top: 27px;
    }
  }

  &__action {
    @include flex;
    gap: 16px;
    padding-top: 42px;
  }

  &__note {
    font-size: 0.93em;
    line-height: 25px;
    padding-top: 18px;
  }
}

.btn--md {
  min-width: 160px;
  height: 3.74em;
}