@use "../../../mixins" as *;
@use "../../../presets" as *;

.hero-text {
max-width: 420px;


@include sm-min {
  font-size: 1.5em;
  line-height: 35px;
  padding-top: 42px;
}

@include sm {
  font-size: 1.2em;
  line-height: 25px;
  padding-top: 27px;
}
}