@use "../../../mixins" as *;
@use "../../../presets" as *;


.container-hero {

    display: grid;
    align-items: start;


    @include lg-min {
        grid-template-columns: 1fr 1.5fr;
        padding-top: 128px;
        margin-bottom: 131px;
    }

    @include lg-xs {
        padding-top: 50px;
        margin-bottom: 50px;
        justify-items: center;
        gap: 72px;
    }
}

.hero-content {
    @include flex;
    flex-direction: column;
    align-items: flex-start;
   

    @include lg-xs {
        order: 0;
        text-align: center;
        align-items: center;
    }
}