@use "../../../mixins" as *;
@use "../../../presets" as *;

.hero-picture {

  @include lg-min {
    padding-top: 25px;
  }

  @include lg {
    @include flex;
  }
}

.hero-picture>img {
  object-fit: cover;
  width: 100%;
  height: auto;
}