@use "../../../mixins" as *;
@use "../../../presets" as *;

.rate-item {
  @include flex-col;
  align-items: flex-start;
  gap: 15px;
  max-width: 200px;

  &__logo {
    padding-top: 19px;
  }

  &__note {
    font-size: 0.93em;
    line-height: 25px;
    letter-spacing: 0.75px;
  }
}