@use "../../../mixins" as *;
@use "../../../presets" as *;

.rate-description {
  display: flex;
  align-items: center;
  gap: 70px;

  @include lg-min {
    justify-content: flex-start;
    border-right: 1px solid black;
    flex-basis: 63.3%;
  }

  @include lg {
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 20px 0 20px;
  }

  @include sm {
    flex-direction: column;
    gap: 35px;
  }
}


.rate-review {
  font-size: 35px;
  line-height: 50px;
  flex-basis: 60%;
  padding-right: 20px;

  @include lg {
    text-align: center;
  }
}