@use "../../../mixins" as *;
@use "../../../presets" as *;

.rate {
  background-color: $rate-color;
  min-height: 332px;
  @include flex;

  &__flex {
    display: flex;

    @include lg-min {
      gap: 70px;
      padding: 70px 0 70px;
    }

    @include lg {
      flex-wrap: wrap;
      flex-direction: column;
      gap: 25px;
      padding: 30px 0 30px;
    }
  }
}