@use "../../mixins" as *;
@use "../../presets" as *;


.header-navbar {

  &__list {
    @include flex;
    gap: 45px;

    @include sm {
      gap: 25px;
    }
  }

  &__link {
    font-size: 0.93em;
    line-height: 1.25em;
  }
}
