@use "../../mixins" as *;
@use "../../presets" as *;

.header {
  min-height: 95px;
  border-bottom: 1px solid #cccccc;
}

.header-flex {
  @include flex;
  justify-content: space-between;
  min-height: 95px;
}

@media (max-width: $lg) {
  .header-flex {
      justify-content: center;
      flex-direction: column;
  }
}
