@use "../../mixins" as *;
@use "../../presets" as *;

.header-action {
    @include flex;
    gap: 16px;
    padding: 25px 0 25px;
}

.btn {
    font-weight: 600;
    background: none;
    border: 1px solid #00000080;
}

.btn--sm {
  min-width: 120px;
  height: 2.7em;
}

.btn--accent {
  background-color: $btn-accent-color;
  color: $base-color;
  border-color: $btn-accent-color;
}

