@use "../../../mixins" as *;
@use "../../../presets" as *;

.possibilities-title {
font-size: 3.1em;
line-height: 60px;
text-align: center;

@include sm-min {
  font-size: 3.1em;
line-height: 60px;
}

@include sm {
  font-size: 2.1em;
  line-height: 45px;
}
}
