@use "../../../presets" as *;
@use "../../../mixins" as *;

.possibilities {
  min-height: 990px;
  background-color: $about-color;

  @include md-min {
    padding-top: 119px;
  }

  @include md {
    padding-top: 40px;
  }
}