@use "../../../mixins" as *;
@use "../../../presets" as *;

.possibilities-item {
  max-width: 330px;
  @include flex-col;
  gap: 17px;
  text-align: center;

  &__title {
    font-size: 1.5em;
    line-height: 35px;
  }

  &__description {
    font-size: 1.1em;
    line-height: 25px;
  }

  &__pic {
    order: -1;
  }
}