$base-color: #ffffff;
$secondary-color: #ff9c7d;
$about-color: #fcf6df;
$feedback-color: #c9e8f2;
$rate-color: #dabc98;
$font-color: #000000;
$btn-accent-color: #FF6336;

$lg: 960px;
$md: 768px;
$sm: 640px;
$xs: 100px;