$base-color: #ffffff;
$secondary-color: #ff9c7d;
$about-color: #fcf6df;
$feedback-color: #c9e8f2;
$rate-color: #dabc98;
$font-color: #000000;
$btn-accent-color: #FF6336;

$lg: 1025px;
$md: 780px;
$sm: 576px;
$xs: 100px;