@use "../../../mixins" as *;
@use "../../../presets" as *;

.advantages-grid {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  align-items: center;

  @include lg-min {
    row-gap: 243px;
  }

  @include lg-md {
    row-gap: 121px;
  }

  @include md {
    @include flex-col;
    gap: 70px;
  }
}

.advantages-grid>div:nth-child(1) {
  grid-row: 1;

  @include md {
    order: -1;
  }
}

.advantages-grid>div:nth-child(3) {
  @include md {
    order: 1;
  }
}

.advantages-grid>div:nth-child(4) {
  @include md {
    order: 2;
  }
}

.advantages-grid>div:nth-child(5) {
  order: -2;
  grid-column: 2;
}

.advantages-grid>div:nth-child(6) {
  order: -1;
}

.advantages-grid>div:nth-child(7) {
  grid-row: 3;
  grid-column: 2;
}

.advantages-grid>div:nth-child(8) {
  grid-column: 1;
  grid-row: 4;

  @include md {
    order: 1;
  }
}