@use "../../../mixins" as *;
@use "../../../presets" as *;

.advantages-content {
  max-width: 490px;
  @include flex-col;
  align-items: flex-start;
  gap: 30px;

  @include md {
    border-bottom: 1px solid #cccccc;
    align-items: center;
    text-align: center;
  }

  &__title {

      @include md-min {
      font-size: 50px;
      line-height: 60px;
    }

    @include md {
      font-size: 35px;
      line-height: 45px;
    }

  }

  &__description {

    @include md-min {
      font-size: 20px;
      line-height: 30px;
    }

    @include md {
      font-size: 15px;
      line-height: 30px;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }


}