@use "../../../presets" as *;
@use "../../../mixins" as *;

.advantages-picture {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: $about-color;

  @include md-min {
    height: 100%;
  }

  @include md-sm {
    height: 350px;
  }

  @include sm {
    height: 250px;
  }
}

.advantages-picture>img {
  object-fit: contain;
  display: block;

  @include md-min {
    width: 100%;
  }

  @include md {
    width: 100%;
  }
}