@use "../../../mixins" as *;
@use "../../../presets" as *;

.advantages-img {
    object-fit: cover;
    display: block;


@include md-min {
  width: 100%;
}

    @include md {
      width: 75%;
  }

}