@use "../../../mixins" as *;
@use "../../../presets" as *;

.advantages-content {
  max-width: 518px;
  @include flex-col;
  align-items: flex-start;
  gap: 30px;

  @include md {
    align-items: center;
    text-align: center;
    padding-top: 40px;
  }

  &__title {

    @include md-min {
      font-size: 3.1em;
      line-height: 60px;
    }

    @include md {
      font-size: 2.2em;
      line-height: 45px;
    }
  }

  &__description {

    @include md-min {
      font-size: 1.25em;
      line-height: 30px;
    }

    @include md {
      font-size: 0.93em;
      line-height: 30px;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 1.25em;
    line-height: 30px;
  }
}