@use "../../../mixins" as *;
@use "../../../presets" as *;

.feedback-content {

  &__description {
    line-height: 40px;

    @include lg-min {
      font-size: 1.8em;
      padding-top: 10px;
    }

    @include md-min {
      font-size: 1.5em;
    }

    @include md {
      font-size: 1.25em;
    }
  }

  &__person {
    padding-top: 24px;
    font-size: 0.9em;
    line-height: 25px;
  }

  &__logo {
    padding-top: 6px;
  }

  &__img-p {
    @include md-min {
      object-fit: cover;
      width: 100%;
    }

    @include xs {
      width: 80%;
    }
  }
}