@use "../presets" as *;
@use "../mixins/" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $font-color;
}

button {
  cursor: pointer;
}

html {
  font-size: 16px;
}

body {
  font-family: "Graphik LCG", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: $base-color;
  line-height: 16px;
  color: $font-color;
}