@use "../presets" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $primary-color;
}

.link-underline {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

html {
  font-size: 16px;

}

body {
  font-family: "Graphik LCG", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: $base-color;
  line-height: 16px;
  color: $primary-color;
}
